h1{
    font-size: medium;
    color: blue;
}

.fruit-list{
    font-size: small;
    font-style: italic;
    
}

.red{
    color: red;
}

.yellow{
    color: yellowgreen;
}

.green{
    color:green;
}

.orange{
    color: orange;
}